*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: rgb(30, 12, 49);
  font-family: sans-serif;
}

h2 {
  font-size: 5rem;
}

h2::after {
  content: " ?";
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-group {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group .question {
  text-indent: 20px;
}

.form-group .answers {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin: 10px;
}

.form-group input {
  min-width: 40px;
}

button {
  position: absolute;
  top: 85%;
  left: 0;
  width: 100%;
  height: 80px;
  background: #572c84;
  color: white;
}

.grade {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.grade div {
  font-size: 5rem;
  margin: 10px 0;
}

form.grade :is(p.correct, p.incorrect) {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

form.grade p.correct {
  color: green;
}

form.grade p.incorrect {
  color: red;
}

form.grade p.score {
  font-weight: bold;
  font-size: 1.2rem;
}

form.grade button {
  position: unset;
  width: 20%;
  height: 50px;
  margin-top: 10px;
}

:is(button:hover, input:hover) {
  cursor: pointer;
}

fieldset {
  margin-top: 20px;
  border: none;
}

.hidden {
  display: none;
}
