ul
    height: 100%
    display: flex
    list-style: none
    gap: 60px

    li
        font-family: sans-serif
        h3
            margin-bottom: 20px
        p
            color: white
            margin: 10px 0

        &:first-of-type > p
            font-size: 1.5em
            margin: 5px 0

        .small
            margin-top: 20px
            p
                font-size: .8em

.wrapper

    width: 100%
    height: 40px

    margin-bottom: 20px

    display: flex
    align-items: center

    input
        border: none
        background: none
        width: 100%
        height: 100%
        font-size: 2em
        padding-left: 20px
        color: white

        &:focus
            outline: none
            caret-color: white
            caret-shape: block
